# OS-specific files
Thumbs.db
Desktop.ini
.DS_Store
*.swp

# Project configuration
/.claude
/.mcp.json
/.codex
/opencode.json

# Dependencies
/node_modules

# IDE
.idea
/.vscode
.zed/
.gemini/
.junie/

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
